div {
  display: inline-block;
}

.section {
  width: 100%;
  height: 240px;

  .header {
    width: 100%;
    height: 30px;

    div:first-child {
      width: 30px;
      height: 25px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
      background-color: #ff8c00;
    }

    div:nth-child(2) {
      height: 30px;

      vertical-align: top;
      position: relative;
      font-size: 12px;
      text-align: center;
      line-height: 40px;

      > span:first-child {
        position: absolute;
        background-color: #000000;
        color: #dddddd;
        left: 0;
        top: 0;
        width: 50px;
        height: 8px;
        padding: 2px;
        font-size: 10px;
        font-weight: bold;
        line-height: 8px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-weight: bold;
        padding: 0 3px;

        span {
          font-weight: normal;
          font-size: 9px;
        }
      }
    }
  }

  .graph {
    width: 100%;
    height: 220px;

    canvas {
      width: 100%;
      heigth: 100%;
    }
  }
}